body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	line-height: 1.5;
	padding: 0;
	margin: 0;
	background-color: #D8D8D8;
}
 
 h3 {
 	text-align: center;
 }

/* Global */
.container {
	width: 80%;
	margin: auto;
	overflow: hidden;
}

ul {
	margin: 0;
	padding: 0;
}

.button_1{
	height: 38px;
	background: #003d66;
	border: none;
	padding-left: 20px;
	padding-right: 20px;
	color: #ffffff;
}

.dark{
	padding: 15px;
	background: #35424a;
	color: #ffffff;
	margin-top: 10px;
	margin-bottom: 10px;
}


/* Header*/
header {
	background: #008fb3;
	color: #ffffff;
	padding-top: 30px;
	min-height: 70px;
	border-bottom: #ffffff 3px solid;
	top: 0;
	position: fixed;
	z-index: 99;
}


header a{
	text-decoration: none;
	color: #ffffff;
	text-transform: uppercase;
	font-size: 14px;
}



header li{
	float: left;
	display: inline;
	padding: 0 20px 0 20px;
}

header #branding{
	float: left;
}

header #branding h1{
	margin: 0;
	color: #ffffff;
}

header nav{
	float: right;
	margin-top: 13px;
}

header .highlight, header .current a{
	color: #003d66;
	font-weight: bold;
}

header a:hover{
	color: #cccccc;
	font-weight: bold;
}

/* Showcase */
#showcase{
	min-height: 400px;
	background: url("./images/wood.jpeg") no-repeat -250px -30px;
	text-align: center;
	color: #ffffff;
}

#showcase .container h1{
	margin-top: 100px;
	font-size: 50px;
	margin-bottom: 10px;
	color: #ffffff;
}



/* Newsletter */
#newsletter{
	padding: 15px;
	color: #ffffff;
	background: #008fb3;
}

#newsletter h1{
	float: left;
	color: #ffffff;
	font-size: 30px;
}

#newsletter form{
	float: right;
	margin-top: 20px;
}

#newsletter input[type="email"]{
	padding: 4px;
	height: 25px;
	width: 250px;
}

/* Square */

#square{
	margin-top: 20px;
}

#square h3{
	color: #ffffff;
}

#square .box{
	float: left;
	text-align: center;
	width: 30%;
	padding: 10px;
}

#square .box img{
	width: 220px;
}
/* Boxes */
#boxes{
	margin-top: 20px;
}

#boxes h3{
	color: #ffffff;
}

#boxes .box{
	float: left;
	text-align: center;
	width: 30%;
	padding: 10px;
}

#boxes .box .textOverImage{
	position: relative;
	width: 220px;
	height: 150px;
	float: left;
	margin: 4px;
	background-size: 100%;
	background-position: center;
	transition: 0.5s;
	background-repeat: no-repeat;
}

#boxes .box .textOverImage:hover{
	background-size: 110%;
}

#boxes .box .textOverImage:after{
	position: absolute;
	top: 100%;
	bottom: 0;
	left: 0;
	right: 0;
	word-wrap: break-word;
	overflow: hidden;
	background-color: rgba(0,0,0,0.6);
	color: #ffffff;
	padding: 8px;
	opacity: 0;
	content: attr(data-text);
	transition: 0.5s;
}

#boxes .box .textOverImage:hover:after{
	opacity: 1;
	top: 0;
	padding: 8px;
}

/* Sidebar */
aside#sidebar{
	float: right;
	width:30%;
	margin-top: 10px;
	font-size: 30px;
}

/* Main-col */
article#main-col{
	float: left;
	width: 65%;
	font-size: 20px;
}

/* Slides */
#slides .container{
	width: 700px;
	height: 500px;
	margin: 0px auto;
	margin-top: 1.5%: 
	color: #ffffff;
}

/* Review */
#col  .review input, #col .review textarea{
	width: 90%;
	padding: 10px;
}

#col h3{
	color: #ffffff;
}

#col .review label{
	color: #ffffff;
}

footer{
	padding: 20px;
	margin-top: 20px;
	color: #ffffff;
	background-color: #003d66;
	text-align: center;

}

/* Gif */
#gif .container img{
	position: center;
}

/* Video */
iframe{
	position: center;
}

/* Media Queries */
@media(max-width: 768px){
	header #branding,
	header nav,
	header nav li,
	#newsletter h1,
	#newsletter form,
	#boxes .box,
	#square .box,
	article#main-col,
	aside#sidebar{
		float: none;
		text-align: center;
		width: 100%;
	}

	header{
		padding-bottom: 20px;
	}

	#showcase h1{
		margin-top: 40px;
	}

	#newsletter button, .review button{
		display: block;
		width: 100%;
	}

	#newsletter form input[type="email"]{
		width: 100%;
		margin-bottom: 5px;
	}
}

